* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei",
  "WenQuanYi Micro Hei", sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1 {
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 100;
}

@font-face {font-family: "iconfont";
  src: url('./icons/iconfont.eot?t=1469343399'); /* IE9*/
  src: url('./icons/iconfont.eot?t=1469343399#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./icons/iconfont.woff?t=1469343399') format('woff'), /* chrome, firefox */
  url('./icons/iconfont.ttf?t=1469343399') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./icons/iconfont.svg?t=1469343399#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-atom {
  font-size: 30px;
  vertical-align: sub;
}
.icon-tag {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 15px;
  vertical-align: middle;
}

/* 公共样式方面 */
.outer-container {
  width: 100%;
  min-width: 1025px;
}
.inner-container {
  width: 1025px;
  margin: 0 auto;
}

.nav-outer-container {
  background-color: #000;
  color: #fff;
  .nav-container {
    display: inline-block;
  }
  .hot:before {
    content: url("../imgs/home-hot.png");
    width: 27px;
    height: 22px;
    position: absolute;
    top: 5px;
    right: -15px;
    z-index: 10;
  } //  hot 使用伪元素, 定位相对于所处的 li
  .nav-item {
    display: inline-block;
    position: relative; // 用来 hot 定位
    a {
      display: inline-block;
      padding: 0 10px;
      height: 55px;
      line-height: 55px;
      font-size: 15px;
      color: #fff;
      transition: all 1s;
    }
  }
  .nav-item:nth-of-type(1) {
    a {
      padding: 0 25px;
    }
  } // 对于 首页 两个字做得微调
  .nav-item:hover a {
    background-color: #044881;
  }
  .nav-links {
    float: right;
    text-align: right;
    line-height: 53px;
    a {
      color: #fff;
      font-size: 13px;
      padding: 0 0 0 10px;
    }
  }
}

.slogan-outer-container {
  background-color: #00264e;
  .slogan {
    width: 100%;
    height: 410px;
    background-image: url(../imgs/home-slogan.png);
  }
}

.main-outer-container {
  .banner {
    margin:12px 0;
    width: 100%;
    height: 110px;
    background: url("../imgs/home-banner.png") no-repeat;
  }
  .title {
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    background: linear-gradient(to right, #e6e6e6, #fff);
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 100;
    color: #333;
    vertical-align: sub;
  } // 每个栏目的标题
  .more {
    display: inline-block;
    font-size: 13px;
  } // 更多
  .circle {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #868686;
  } // 标题圆圈部分
  .main-left {
    display: inline-block;
    width: 695px;
    overflow: hidden;
  } // 主区域左侧大块
  .main-right {
    float: right;
    width: 310px;
    height: 100px;
    background-color: #ddd;
  } // 主区域右侧大块
  .main-items {
    margin-bottom: 12px;
  } // 每小块距下边 12px

  .new-activities {
    .slider {
      display: inline-block;
      width: 335px;
      height: 250px;
      background-color: #ccc;
    }
    .news-container {
      float: right;
      width: 355px;
      height: 250px;
      ul {
        margin-left: 40px;
        margin-top: 20px;
        height: 200px;
        overflow: hidden;
      } //  固定 8 条项目 多了自动隐藏
      li {
        position: relative;
        width: 250px;
        font-size: 14px;
        line-height: 25px;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      li:before {
        content: "• ";
      } // 因为 overflow hidden 所以用中文点号代替
      .more {
        margin-left: 40px;
        margin-top: 10px;
      }
    }
  } // 最新动态

  .competitions {
    .sub-title {
      margin-bottom: 12px;
      padding: 0 30px;
      .more {
        float: right;
      }
    }
    .activity-container {
      overflow: hidden;
    }
    .activity-item {
      float: left;
      margin-right: 10px;
      margin-bottom: 12px;
      padding: 15px 5px;
      width: 210px;
      background-color: #f8f8f8;
      .activity-title {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 15px;
        width: 215px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .activity-img {
        //margin: 0 auto;
        width: 100%;
        height: 145px;
        background-color: #00cc99;
      }
      .activity-tag {
        margin-top: 15px;
        color: #aaa;
      }
    }
  }
}


